/* Fonts import from Google */

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Kadwa:wght@400;700&display=swap');

/* Overide the default styles of the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.gone {
    display: none;
}

/* General Styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'bitter', sans-serif;
}

h1,
h2 {
    font-family: 'kadwa', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #81a59b;
}

h3 {
    font-family: 'Dancing Script', sans-serif;
    color: #f1f1f1;
}

main {
    background-color:#f1f1f1;
}

/* Header */

header {
    background-color: #f1f1f1;
    padding: 0 10px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50%;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #81a59b;
    color: #81a59b;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    left: 0;
    text-align: right;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 220%;
    color: #81a59b;
}

/* Main Content*/

main {
    flex: 1 0 auto;
    margin-top: 30px;
}
/* Cover image*/
#hero {
    height: 600px;
    width: 100%;
    background: url('../images/beach.webp') no-repeat center center/cover;
    display: flex;
    justify-content: center;
}

#cover-text {
    background-color: rgba(46, 94, 76, 0.8);
    font-size: 200%;
    position: absolute;
    width: 100%;
    padding: 20px;
    height: 600px;
    text-align: center;
    color: #f1f1f1;
}

#cover-text h3 {
    margin: 130px 0;
}

/*About us section*/

#section1 {
    margin: 10px;
}

#section1 h2 {
    font-size: 100%;
    text-align: center;
    padding: 15px;

}

#section1 hr {
    border-top: 1px solid #81a59b;
}

#section1 p {
    font-size: 75%;
    padding: 10px 0;
    margin: 0 10px;
}

#section1 a {
    text-decoration: none;
    color: #349d81;
}

#couple-image-r {
    background: url('../images/couple.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#couple-image {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#couple-image-r {
    margin: 10px;
}

/* Deals and Offers section*/

#section2 h2 {
    font-size: 100%;
    text-align: center;
    color: #f1f1f1;
    background-color: #81a59b;
    padding: 15px;
}

#twelve-month-t h4, 
#six-month-t h4 {
    color: #81a59b;
    font-size: 110%;
    padding: 10px;
    text-align: center;
}

#deals-t div{
    display: flex;
    flex-wrap: wrap;
}

#six-month-t, 
#twelve-month-t {
    border-top: 5px solid #81a59b;
    border-bottom: 5px solid #81a59b;
    font-size: 120%;
    background-color: rgba( 129, 165, 155, .1);
    flex-basis: 300px;
    flex-grow: 1;
}

#six-month-t {
    margin: 15px 15px 10px 0;
    border-right: 5px solid #81a59b;
    border-radius: 0 10% 10% 0;
}

#twelve-month-t {
    margin: 10px 0px 15px 15px;
    border-left: 5px solid #81a59b;
    border-radius: 10% 0 0 10%;
}

#twelve-month-t ul, 
#six-month-t ul {
    font-size: 75%;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 10px;
}

#six-month-t li, 
#twelve-month-t li {
    padding: 5px 0;
}

#six-month-t a,
#twelve-month-t a {
    text-decoration: none;
    color: #369c7f;
}

#or {
    text-align: center;
    text-transform: uppercase;
    font-size: 110%;
}

/*Reviews section*/

#section3 {
    color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 5px;
    font-size: 150%;
    background-color: rgba(0, 0, 0, .7);
    margin: 10px 0;
}

.profile {
    background-color:rgba(129, 165, 155, .9);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 5%;
    line-height: 15px;
    flex-basis: 230px;
    flex-grow: 1;
    margin: 5px;
}

.profile-info h4 {
    padding: 5px 5px 5px 0;
}

/* Profile images*/

#olivia {
    background: url('../images/olivia.webp') no-repeat top center / cover;
}

#ethan {
    background: url('../images/ethan.webp') no-repeat top center / cover;
}

#sophia {
    background: url('../images/sophia.webp') no-repeat top center / cover;
}

#liam {
    background: url('../images/liam.webp') no-repeat top center / cover;
}

#isabella {
    background: url('../images/isabella.webp') no-repeat top center / cover;
}

#noah {
    background: url('../images/noah.webp') no-repeat top center / cover;
}

.profile-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-info {
    text-align: left;
    width: 75%;
    font-size: 40%;
}

.profile-info h4 {
    font-size: 200%;
}

.profile-info p{
   padding: 5px;
}

/* Footer */

footer {
    background-color: #f1f1f1;
}

#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #ededed;
}

#social-networks i{
    font-size: 160%;
    padding: 0;
    color: #81a59b;
}

#contact-info {
    text-align: left;
    padding: 5px 5px 10px;
    display: flex;
    flex-flow: column wrap;
    font-size: 70%;
    list-style-type: none;
}

#contact-info>label {
    color: #3a3a3a;
}

#contact-info a {
    color: #359a7f;
}

#contact-tag {
    font-size: 90%;
    text-align: left;
    padding-left: 5px;
}

/* Media Queries */

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

/*Main*/

/* About us section */
#section1, 
#section2 {
    font-size: 120%;
}

#about-us-all {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#six-month-t, 
#twelve-month-t {
    font-size: 110%;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px;
    padding: 5px;
    font-size: 110%;
}


#deals-t {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/**/

/*Footer*/

.gone {
    display: block;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: row;
    padding-top: 10px;
}

footer>hr {
    display: none;
}

footer>section{
    align-items: center;
    width: 50%;
}

#contact-tag, 
#visit-tag {
    font-size: 90%;
    text-align: center;
    padding: 0;
}
    
#contact-tag {
    padding: 0;
}

#contact-info,
#social-networks {
    padding: 10px 5px;
    background-color: transparent;
}

#vertical-line {
    border-left: 1px solid #81a59b;
}

}

/* Media query: large devices (tablets and larger, 768px and up) */
@media screen and (min-width: 768px) {

/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: baseline;
    box-shadow: none;
}

header h1 {
    padding-left: 15px;
}

nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
}
    
#menu {
    display: flex;
    align-items: center;
    line-height: 75px;
}
    
#menu>li {
    padding: 0 15px;
    margin-bottom: 0;
    font-size: 130%;
    text-align: center;
}
           
.nav-toggle-label {
    display: none;
}
    
#logo {
    font-size: 280%;
    line-height: 75px;
}

#signup-tag {
    border: 1px solid #81a59b;
    background-color: #81a59b;
    color: #f1f1f1;
    border-radius: 50px;
    padding: 5px 15px;
}

/*Cover image*/
#cover-text {
    font-size: 300%;
}

}

/* Media query: large devices (laptops and larger, 992px and up) */
@media screen and (min-width: 992px) {

/*Header*/

#logo {
    font-size: 400%;
}

#menu {
    font-size: 125%;
}

#menu>li:hover {
    color: #80c1af;
}

#signup-tag:hover {
    background-color: #f1f1f1;
    border: 2px solid #81a59b;
    color:#81a59b;
}

/*Main content*/

#couple-image-r {
    max-width: 450px;
    max-height: 450px;
}

#section1 {
    font-size: 160%;
}

#section2 {
    font-size: 160%;
}

#six-month-t, #twelve-month-t {
    padding: 20px;
    height: 350px;
}

#about-us-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#section3 {
    font-size: 200%;
}

/*Footer*/
#contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

footer {
    font-size:110%;
    padding-bottom:10px;
}

#contact-info a:hover{
    color: #4dddb6;
}

}

/* Media query: large devices (desktops and larger, 1200px and up) */
@media screen and (min-width: 1200px) {
    /*About us section*/
    #couple-image-r {
            max-width: 550px;
            max-height: 550px;
        }
    
    #section1 {
            font-size: 200%;
        }
    
    #section2 {
            font-size: 200%;
        }
    
    #six-month-t,
    #twelve-month-t {
            padding: 50px;
            height: 500px;
        }
}

/* Media query: large devices (4k and larger, 1200px and up) */
@media screen and (min-width: 1900px) {

    header {
        font-size: 60%;
        padding: 15px 0;
    }
    /*About us section*/
        #couple-image-r {
            max-width: 700px;
            max-height: 700px;
        }
    
        #section1 {
            font-size: 280%;
            padding: 20px;
        }
    
        #section2 {
            font-size: 250%;
            padding: 20px 0;
        }
}
