/* Fonts import from Google */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Kadwa:wght@400;700&display=swap');

/* Overide the default styles of the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'bitter', sans-serif;
}

h1,
h2 {
    font-family: 'kadwa', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #81a59b;
}

h3 {
    font-family: 'Dancing Script', sans-serif;
}

main {
    background-color:#81a59b;
}

/* Header */
header {
    background-color: #f1f1f1;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content*/

main {
    flex: 1 0 auto;
    margin-top: 63px;
}


/* Footer */

footer {
    background-color: #f1f1f1;
}

#contact-base {
    text-align: center;
    padding: 2%;
    list-style-type:none;
    font-size: 100%;
}

#contact-info {
    text-align: left;
    list-style-type: none;
    padding: 2%;
    font-size: 65%;
}

#contact-base>h2 {
    font-size: 100%;
}

#contact-info a {
    color: #81a59b;
}

#social-networks {
    text-align: center;
    padding: 5px 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #81a59b;
}

#visit-tag {
    display: none;
}

/* Media Queries */

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {}

/* Media query: large devices (tablets and larger, 768px and up) */
@media screen and (min-width: 768px) {
footer {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0;
 }

 #visit-tag {
    display: block;
 }

 #visit-base {
     text-align: center;
     padding: 0 2%;
     list-style-type: none;
     font-size: 100%;
 }

 #contact-base {
    text-align: center;
    padding: 0 2%;
    list-style-type: none;
    font-size: 100%;
 }

 #social-networks {
     text-align: left;
     list-style-type: none;
     padding: 3% 2%;
     font-size: 100%;
 }

 #visit-base>h2 {
     font-size: 100%;
 }

 footer>h2 {
    line-height: 10px;
    font-size: 200px;
 }

 #contact-base, #visit-base {
    width: 50%;
    height: 100px;
    font-size: 120%;
 }

 #visit-base {
    border-left: 2px solid #81a59b;
 }

}
/* Media query: large devices (laptops and larger, 992px and up) */
@media screen and (min-width: 992px) {}

/* Media query: large devices (desktops and larger, 1200px and up) */
@media screen and (min-width: 1200px) {}